@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table" id="tblRecords">
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>E-posta doğrulandımı?</th>
            <th>Eylemler</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
     {
        <tr>
            <td>@item.UserName</td>
            <td>@(item.EmailConfirmed?"Evet":"Hayır")</td>
            <td><a asp-action="Delete" class="btn btn-sm btn-danger">Sil</a></td>
        </tr>

     }
    </tbody>
</table>
